.tableHeader {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.input {
    height: 30px;
    outline: none;
    width: 30%;
    border: 1px solid rgb(163, 163, 163);
}