.bannerImgWrp {
    margin-top: 20px;
}

.bannerImgWrp>img {
    width: 100%;
    height: 350px;
}


@media (max-width:1024px) {
    .bannerImgWrp {
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
}

@media (max-width:768px) {
    .bannerImgWrp {
        width: 98%;
    }
}