
.container {
  height: fit-content;
  display: grid;
  grid-template-columns: .7fr 2.5fr .8fr;
  grid-template-rows: 65px auto auto;
  grid-gap: 20px;
  grid-template-areas:
      "header header header"
      "asideleft container asideright"
      "footer footer footer"
}




.header {
  grid-area: header;
  position: sticky !important;
  top: 0px !important;

}

.asideleft {
  grid-area: asideleft;
  margin-left: 20px;
}

.content {
  grid-area: container;
}

.asideright {
  grid-area: asideright;
  margin-right: 20px;
}

.footer {
  grid-area: footer;
  background: #343a40;
  color: #fff;
}


/* @media (min-width:1500px) {
  .container {
      width: 1200px;
      margin: auto;

  }

} */
