/* .home{
} */
.container {
  height: fit-content;
  display: grid;
  grid-template-columns: .7fr 2.5fr .8fr;
  grid-template-rows:auto;
  grid-gap: 20px;
  grid-template-areas:
      "asideleft container asideright"
}
.asideleft {
  grid-area: asideleft;
  margin-left: 20px;
}

.content {
  grid-area: container;
}

.asideright {
  grid-area: asideright;
  margin-right: 20px;
}




/* @media (min-width:1500px) {
  .container {
      width: 1200px;
      margin: auto;

  }

} */
