.NavItem {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.moboNav {
    display: none;
}

.link {
    transition: .3s;
}

.link:hover {
    color: red;
}

@media (max-width:990px) {

    .moboNav {
        display: block;
        float: right;
        font-size: 22px;
        z-index: 100;

    }

    .NavItem {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background: #fff;
        color: black;
        z-index: 100;
        position: fixed;
        left: 0;
        top: 55px;
        height: 100vh;
        margin-left: 0px;
        text-align: center;
        width: 30%;
        padding-top: 20px;
        overflow: scroll;
        cursor: pointer;
    }

    .link {
        padding: 20px 0px;
        font-weight: 500;
        width: 100%;
        transition: .3s;
    }

    .NavItem::-webkit-scrollbar {
        display: none;
    }

    .moboIcons {
        cursor: pointer;
    }

    .link:hover {
        background: rgb(243, 243, 243);
    }

    .active {
        display: none;
        animation: fade_in_show .6s ease-in-out;
    }
}

@media (max-width:768px) {
    .NavItem {
        width: 38%;
    }
}

@media (max-width:500px) {
    .NavItem {
        width: 43%;
        top: 65px;
    }
}

@keyframes fade_in_show {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}