.container {
    min-height: 550px;
    height: fit-content;
    display: grid;
    grid-template-columns: .7fr 2.5fr .8fr;
    grid-template-rows: 65px auto auto;
    grid-gap: 15px;
    grid-template-areas:
        "notice notice notice"
}






.notice {
    grid-area: notice;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
}